

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2); /* Standard syntax */
  height: 150px;
  padding: 20px;
  color: white;
}
.App-footer {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2); /* Standard syntax */
  height: 50px;
  padding: 10px;
  color: black;
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
.searchbar_{
  position: absolute;
   left: 900px;
   top: 204px;
}
.searchbar__{
  position: absolute;
   left: 1200px;
   top: 190px;
}
.slidermargin{
  margin-left: 2.6cm;
  margin-top: 1cm;
}
.navigationBar{
  margin-left: 1cm;
}
.AboutMargin{
  margin-left: 4cm;
  margin-right: 4cm;
  text-align: justify;
  text-justify: inter-word;
   font-size: 22px;
   line-height: 60px;
  }
  .AboutMargin-c{
   text-align: center;
   font-size: 18px;
   background: -webkit-linear-gradient(#00ff00, #ff0000);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
.Login{
  margin-left: 14cm;
  margin-right: 14cm;
}
.body { overflow: hidden; }
.column { float: left; }
.half { width: 50%; }
.last { float: none; width: auto;
}

.wrapLogin {
    width: 100%;
    overflow:auto;
}

.fleftLogin {
    float:left;
    width: 40%;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2); /* Standard syntax */
    height: 300px;
    margin-left: 11cm;
}



.frightLogin {
    float: right;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2); /* Standard syntax */
    height: 300px;
    width: 33.5%;
    margin-right: 3cm;

}

/*found vehicle*/

.formMargin{
  margin-left: 10cm;
  margin-top: 3cm;
  margin-bottom: 3cm;
}
.formTabing{
  margin-left: 2cm;

}
.fleftLogin- {
    float:left;
    width: 50%;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2); /* Standard syntax */
    height: 400px;
    margin-left: 12cm;
    margin-top: 2cm;
    margin-bottom: 0cm;
}

/*FAQ*/
.FAQ-F {
  margin-left: 2cm;
  }
.FAQ-P {
  margin-left: 0;
  margin-top: 0.3cm;
}

.fleftLoginFAQ {
    float:left;
    width: 80%;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2); /* Standard syntax */
    height: 675px;
    margin-left: 3.2cm;
    margin-top: 5cm;
    margin-bottom: 0cm;
}


/*Contact US*/
.Maps{
  text-align: center;
}
.frightLoginContactUs{
  float: right;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2); /* Standard syntax */
  height: 300px;
  width: 33.5%;
  margin-right: 0cm;
  }
.fleftLoginContactUs{
      float:left;
      width: 40%;
      background: red; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2); /* For Firefox 3.6 to 15 */
      background: linear-gradient(#ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2, #ffe4b2, #f9f9f9, #b2d8b2); /* Standard syntax */
      height: 300px;
      margin-left: 0cm;
  }
